*{
  margin: 0px;
  padding: 0px;
}

h1{
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

div h4{
  font-size: 100%;
}
.mainDiv{
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5%;
  padding-top: 40px;
}
#image{
  width: 45%;
  display: block;
  margin: auto;
  border-radius: 10%;
 
}
#divOne{
  box-shadow: 0px 0px 2px 2px;
 margin: 20px;
padding: 5px;
text-align: center;
border-radius:  0px 10px 0px 10px;
}
#divTwo{
  box-shadow: 0px 0px 2px 2px;
  margin: 20px;
 padding: 5px;
 text-align: center;
 border-radius:  0px 10px 0px 10px;
}
#empty{
    /* border: 1px solid black; */
    background-image: linear-gradient(#b55179, #bda62e);
    height: 10px;
    margin-top: 10%;
    display: flex;
  
    flex-direction: column;
    
    /* justify-content: center; */
}
.photo img{
  width: 70%;
  padding-top: 10px;
  border-radius: 20%;
}
.photo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  /* box-shadow: 0px 0px 2px 2px gray; */
  transition: 1s;
  text-align: center;
font-size: 10px;
margin: 20px;
border-radius: 10%;
}

.photo:hover {
  box-shadow: 0px 0px 2px 2px gray;
}
#row1{
  display: flex;
  justify-content: center;
}
h3{
  color: white;
  margin-top: 10px;
}

