.Logo{
  width: 90px;
  height: 90px;
  }
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-bottom:20%;
}

h1 {
  text-align: center;
}

form {
  width: 60%;
  margin: 0 auto;
  height: 80vh;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

textarea {
  height: 100%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
#Ani{
  background-color:rgb(221, 222, 224);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: center;
}
h3{
  color: white;
  margin-top: 10px;
}
.fa-regular{
  margin-top: 10px;
}

.animatedboy{
  width: 90%;
}
.Boy{
  width: 30%;
  animation-name: dezang;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  position: relative;
  padding: 30px;
  margin: 4%;
}
#innerFoot{
  margin: 4%;
}
#IconeContainer{
  margin: 4%;
}
@keyframes  dezang{
  0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }}
footer{
  height: 10%;
  width: 100%;
  /* background-color: rgb(82,182,216); */
  color: white;
  text-align: center;
  position: relative;
  top: 10px;
  
}

