
#mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.custommer{
    margin: 3%;
    box-shadow: 2px 1px 1px 2px gray;
    padding: 20px;
    height: 50%;
    width: 30%;
    text-align: center;
}
.CustommerImg{
   width: 100%;
   height: 100%;
}
h3{
   color: white;
   margin-top: 10px;
}

