
      h1 {
        text-align: center;
      }
      
      form {
        width: 60%;
        margin: 0 auto;
        height: 80vh;
      }
      
      label {
        display: block;
        margin-bottom: 10px;
      }
      
      input[type="text"],
      input[type="email"],
      select,
      textarea {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
      }
      
      textarea {
        height: 80px;
      }
      
      button[type="submit"] {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
      }
      
      button[type="submit"]:hover {
        background-color: #45a049;
      }